@model AeroKlub.UI.Models.PlaneListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Dodaj manualnie serwis</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<link href="~/Content/NavbarStyle.css" rel="stylesheet" />

	<style>
		.bootbox .modal-header {
			display: block;
		}
		.col-centered {
			margin: 0 auto;
			float: none;
		}

	</style>
</head>
<body>

	@if (TempData["addmanuallyservice"] != null)
	{
		<script src="~/Scripts/bootbox.min.js"></script>
		<script src="~/Scripts/bootbox.js"></script>

		<script>

				bootbox.alert({
					size: "small",
					title: "Serwis",
					message: '@TempData["addmanuallyservice"]'
				})
		</script>

	}

	@Html.Action("NavigationBar", "Admin", new { Name = Model.Name, Nickname = Model.NickName })



	<div class="container-fluid text-center">


		@if (Model.ListaSamolotów.Any() != false && Model.MechanicList.Any() != false)
		{
			using (Html.BeginForm("AddServiceToRepostory", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
				<div style="padding-top:1%;padding-bottom:1%">
					Wybierz samolot:
					@Html.DropDownList("Plane", Model.ListaSamolotów, new { @class = "form-control col-centered", style = "width:auto" })
				</div>

				<div>
					Wybierz mechanika:
					@Html.DropDownList("Mechanic", Model.MechanicList, new { @class = "form-control col-centered", style = "width:auto" })
				</div>

				@Html.TextArea("Name", Model.Name, new { @readonly = true, style = "display:none" })
				@Html.TextArea("Nickname", Model.NickName, new { @readonly = true, style = "display:none" })

				<div style="padding-top:1%;padding-bottom:1%">
					<p>Wybierz datę:</p>
					<input id="Date" name="Date" autocomplete="off" class="form-control" style="width: auto;float: none;margin: auto;text-align:center;">
				</div>


				<link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
				<script src="~/Scripts/bootstrap-datepicker.js"></script>
				<script src="~/locales/bootstrap-datepicker.pl.min.js"></script>

				<script type="text/javascript">
					$('#Date').datepicker({
						format: "dd.mm.yyyy",
						weekStart: 1,
						autoclose: true,
						todayHighlight: true,
						language: 'pl',
						daysOfWeekDisabled: "6,0",
						orientation: "bottom"
					});
					$('#datepicker').datepicker("setDate", new Date());
				</script>


				<input type="submit" value="Dodaj" class="btn btn-warning" />
			}
		}
		else
		{
			<p>Brak mechaników lub samolotów!</p>
		}
	</div>
</body>
</html>
