@model AeroKlub.UI.Models.UsersList

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Zmień uprawnienia użytkownika</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<link href="~/Content/NavbarStyle.css" rel="stylesheet" />

	<style>
		.col-centered {
			margin: 0 auto;
			float: none;
		}
	</style>
</head>
<body>

	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand">Areo Klub</a>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					@Html.ActionLink("Home", "Index", "Admin", new { Name = Model.Name, Nickname = Model.NickName }, new { @class = "nav-link" })
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Rezerwacje
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						@Html.ActionLink("Lista rezerwacji", "Reservations", "Admin", new { Name = Model.Name, Nickname = Model.NickName }, new { @class = "dropdown-item" })
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Samoloty
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						@Html.ActionLink("Spis Samolotów", "Samoloty", "Admin", new { Name = Model.Name, Nickname = Model.NickName }, new { @class = "dropdown-item" })
						@Html.ActionLink("Dodaj samolot", "AddPlane", "Admin", new { Name = Model.Name, Nickname = Model.NickName }, new { @class = "dropdown-item" })
						@Html.ActionLink("Usuń samolot", "DeletePlane", "Admin", new { Name = Model.Name, Nickname = Model.NickName }, new { @class = "dropdown-item" })

					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Serwis samoltów
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						@Html.ActionLink("Dodaj serwis", "AddManuallyService", "Admin", new { Name = Model.Name, Nickname = Model.NickName }, new { @class = "dropdown-item" })
						@Html.ActionLink("Usuń serwis", "DeleteService", "Admin", new { Name = Model.Name, Nickname = Model.NickName }, new { @class = "dropdown-item" })
						@Html.ActionLink("Lista serwisów samolotów", "PlaneServices", "Admin", new { Name = Model.Name, Nickname = Model.NickName }, new { @class = "dropdown-item" })
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Użytkownicy
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						@Html.ActionLink("Dodaj użytkownika manualnie", "AddManuallyUser", "Admin", new { Name = Model.Name, Nickname = Model.NickName }, new { @class = "dropdown-item" })
						@Html.ActionLink("Usuń użytkownika", "DeleteUser", "Admin", new { Name = Model.Name, Nickname = Model.NickName }, new { @class = "dropdown-item" })
						@Html.ActionLink("Zmień uprawnienia użytkownika", "ChangeUserRole", "Admin", new { Name = Model.Name, Nickname = Model.NickName }, new { @class = "dropdown-item" })
					</div>
				</li>
				<li class="nav-item">
					@Html.ActionLink("Wyloguj", "Login", "Login", new { Clear = true }, new { @class = "nav-link" })
				</li>
			</ul>
		</div>

	</nav>

	<div class="container-fluid text-center">

		<h3 style="margin-bottom: 3%;">Wybierz użytkownika , któremu chcesz zmienić uprawnienia na mechanika:</h3>
		@if (Model.UserList.Any() == true && Model.UserList.Count() >= 1)
		{
			using (Html.BeginForm("ChangeUserRole", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
				@Html.DropDownList("Name", Model.UserList, new { @class = "form-control col-centered", @style = "width:300px" });
				@Html.TextArea("AdminName", Model.Name, new { @readonly = true, style = "display:none" })
				@Html.TextArea("AdminNickname", Model.NickName, new { @readonly = true, style = "display:none" })
				<div style="padding-top:2%">
					<input type="submit" value="Zmień uprawinienia" class="btn btn-outline-warning" />
				</div>
			}
		}
		else
		{
			<p>Brak możliwości zmiany uprawnień , z powodu braku użytkowników!</p>
		}
	</div>

</body>
</html>
