@model AeroKlub.UI.Models.PlaneListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Usuń samolot</title>

	<script src="~/Scripts/umd/popper.js"></script>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<link href="~/Content/NavbarStyle.css" rel="stylesheet" />




	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/css/bootstrap-select.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>



	<style>
		.bootbox .modal-header {
			display: block;
		}

		.col-centered {
			margin: 0 auto;
			float: none;
		}
	</style>

</head>
<body>


	@if (TempData["deleteplanemessage"] != null)
	{
		<script src="~/Scripts/bootbox.min.js"></script>
		<script src="~/Scripts/bootbox.js"></script>

		<script>

				bootbox.alert({
					size: "small",
					title: "Usunięcie samolotu",
					message: '@TempData["deleteplanemessage"]'
				})
		</script>

	}


	@Html.Action("NavigationBar", "Admin", new { Name = Model.Name, Nickname = Model.NickName })



	<div class="container-fluid text-center">

		@if (Model.ListaSamolotów.Any() != false)
		{

			<h3 style="padding-bottom:2%">Usuwanie samolotów (brak możliwości przywrócenia ich!) :</h3>
			using (Html.BeginForm("DeletePlaneFromRepository", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
				<div class="text-center">

				@Html.DropDownList("PlaneName", Model.ListaSamolotów, new { @class = "selectpicker", @style = "width:20%", @data_live_search = "true" })

				</div>
				@Html.TextArea("Name", Model.Name, new { @readonly = true, style = "display:none" })
				@Html.TextArea("Nickname", Model.NickName, new { @readonly = true, style = "display:none" })

				<div style="padding-top:1%">
					<input type="submit" value="Usuń" class="btn btn-warning text-center" />
				</div>
			}

		}
		else
		{
			<p>Brak samolotów do usunięcia!</p>
		}
	</div>
</body>
</html>
