@model AeroKlub.UI.Models.PlaneListViewModel


<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Serwis samoltów</title>
	<style>
		body {
			padding-top: 70px;
		}
	</style>


	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<link href="~/Content/NavbarStyle.css" rel="stylesheet" />

</head>
<body>

	@Html.Action("NavigationBar", "Admin", new { Name = Model.Name, Nickname = Model.NickName })


	<div class="container-fluid text-center">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>
						Samolot
					</th>
					<th>
						Data
					</th>
					<th>
						Wykonywana przez
					</th>
					<th>
						Powód serwisu samolotu
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var Servis in Model.Serwis)
				{
					<tr>
						<td>
							@Servis.Samolot
						</td>
						<td>
							@Servis.Data
						</td>
						<td>
							@Servis.By
						</td>
						<td>
							@Servis.WhyIsServiced
						</td>

					</tr>
				}
			</tbody>
		</table>
	</div>
</body>
</html>
