@model AeroKlub.UI.Models.PlaneListViewModel
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Rezerwacje</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<link href="~/Content/NavbarStyle.css" rel="stylesheet" />


	<style>
		.bootbox .modal-header {
			display: block;
		}
	</style>
</head>
<body>

	@if (TempData["reservationmessage"] != null)
	{
		<script src="~/Scripts/bootbox.min.js"></script>
		<script src="~/Scripts/bootbox.js"></script>

		<script>

				bootbox.alert({
					size: "small",
					title: "Usunięcie rezewacji",
					message: '@TempData["reservationmessage"]'
				})
		</script>

	}


	@Html.Action("NavigationBar", "Admin", new { Name = Model.Name, Nickname = Model.NickName })



	<div class="container-fluid">
		<table class="table table-bordered text-center">
			<thead>
				<tr>
					<th>
						ReservationID
					</th>
					<th>
						PlaneName
					</th>
					<th>
						Data
					</th>
					<th>
						From
					</th>
					<th>
						To
					</th>
					<th>
						By
					</th>
					<th>
						Akcje
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var rezerwacja in Model.Reservations)
				{
					<tr>
						<td>@rezerwacja.ReservationID</td>
						<td>@rezerwacja.PlaneName</td>
						<td> @rezerwacja.Date</td>
						<td> @rezerwacja.From</td>
						<td>   @rezerwacja.To</td>
						<td>@rezerwacja.By</td>
						<td>@Html.ActionLink("Usuń", "DeleteReservation", "Reservation", new { ReservationID = rezerwacja.ReservationID, Name = Model.Name, Nickname = Model.NickName }, null)</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</body>
</html>
