@model AeroKlub.UI.Models.LoginViewModel

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

	<title>Logowanie</title>
	<style>
		.field-validation-error {
			color: #f00;
		}

		.field-validation-valid {
			display: none;
		}

		.input-validation-error {
			border: 1px solid #f00;
			background-color: #fee;
		}

		.validation-summary-errors {
			font-weight: bold;
			color: #f00;
			padding: 2% 0% 0% 0%;
			text-align: center;
		}

		.validation-summary-valid {
			display: none;
		}

		ul {
			list-style-type: none;
		}
	</style>
</head>
<body style="background-image: url('../../Content/Images/LoginScreen.jpg');">

	@if (TempData["LoginErrorMessage"] != null)
	{
		<script src="~/Scripts/bootbox.min.js"></script>
		<script src="~/Scripts/bootbox.js"></script>

		<script>

				bootbox.alert({
					size: "small",
					title: "Logowanie",
					message: '@TempData["LoginErrorMessage"]'
				})
		</script>

	}

	<div class="container-fluid">
		<div style="margin:auto ; width:540px; padding: 8% 0px 0px 0px" class="text-center">
			<h1 style="text-align:center; font-size:4.5rem; padding: 0 0 3% 0">AeroKlub</h1>
			@using (Html.BeginForm())
			{

				<div class="form-group">
					@Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "Nazwa użytkownika" })
				</div>
				<div class="form-group">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Hasło" })
				</div>
				<input type="submit" value="Zaloguj się" class="btn btn-outline-success" align="right" style=" width:35%" />
			}
		</div>

	

	<div style="padding-top:1%" class="text-center">
		@Html.ActionLink("Nie posiadasz konta?", "AddAccount", null, new { @class = "btn btn-outline-warning" })
	</div>

	@Html.ValidationSummary()
	@if (string.IsNullOrWhiteSpace(ViewBag.Message) != true)
	{
		<div class="validation-summary-errors">@ViewBag.Message</div>
	}
	</div>
</body>
</html>